@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import "./header-styles/index.scss";

:root {
  --max-content: 1240px;
  --searchbar-gap: 7px;
  --nav-main-tier-height: 46px;
  --nav-tiers-height: 38px;
  --nav-second-tier-top: 59px;

  --gray-primary: #d7d7d7;
  --gray-secondary: #a3a2a2;
  --gray-ternary: #dddddd;
  --gray-4: #eeeeee;

  --pink-primary: #ecc7d0;
  --pink-secondary: #eb316b;
  --bg-active: #f7f7f7;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #aaa;
  background: #fff;
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0 auto;
  font-family: Lato;
}

ol,
ul {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: currentColor;
}
