@import "../utils/mixins";

.categories {
  &__wrapper {
    width: 100%;
    @include simple-flex-parent(center, initial);
    padding: 0 10px;
  }

  &__content {
    height: 80px;
    display: flex;
    max-width: var(--max-content);
    width: 100%;

    @media (max-width: 1024px) {
      height: 60px;
      margin-top: 10px;
    }
  }

  &__nav {
    @include simple-flex-parent(space-between, initial);
    width: 100%;
    text-transform: uppercase;
    font-size: 10.08pt;
    font-weight: 900;
    border-bottom: 2px solid var(--gray-primary);

    @include media-max-width(1024px, $flex-wrap: wrap, $height: fit-content);

    li {
      cursor: pointer;
      position: relative;
      line-height: var(--nav-main-tier-height);
      @include simple-flex-parent(initial);
      padding: 0 4px;

      @include media-max-width(
        998px,
        $margin: 0 44px,
        $height: 26px,
        $font-size: 9.5pt
      );
      @include media-max-width(850px, $margin: 0 32px);
      @include media-max-width(768px, $margin: 0 26px);
      @include media-max-width(595px, $margin: 0 18px);

      &:hover {
        ul {
          background: #fff;
          display: block;
          width: 180px;
          top: 60px;

          ul {
            display: none;
            width: 180px;

            li {
              line-height: 34px;
            }
          }
        }
      }

      li {
        line-height: var(--nav-tiers-height);
        width: 100%;
        padding: 0 30px;

        &:hover ul {
          background: #fff;
          display: block;
          margin-left: 172px;
          margin-top: -73px;
        }
      }
    }

    ul {
      text-transform: capitalize;
      font-size: 10pt;
      font-weight: 400;
      position: absolute;
      padding: 10px 0;

      left: 0;
      display: none;

      &.first-tier > li:hover {
        background-color: var(--bg-active);
      }

      &:not(.first-tier) li:hover {
        color: var(--pink-primary);
      }
    }

    .active-color {
      color: var(--pink-primary);
    }
  }
}
