.topbar {
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--gray-primary);
  }

  &__content {
    height: 40px;
    display: flex;
    max-width: var(--max-content);
    width: 100%;

    section {
      display: flex;
      flex-basis: 50%;
      justify-content: flex-start;

      &:nth-of-type(1) {
        padding-left: 10px;
      }

      &:nth-of-type(2) {
        justify-content: flex-end;
        text-align: right;
      }

      a + a {
        margin-left: 20px;
      }

      .icon {
        display: flex;
        align-items: center;
        position: relative;
        &::before {
          content: "";
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 13px;
          width: 13px;
          margin-right: 10px;
        }
      }

      @each $topbar-icon in ("phone", "email", "login", "signup") {
        .icon--#{$topbar-icon}::before {
          background-image: url("../assets/#{$topbar-icon}.png");
        }
      }

      .icon--phone {
        letter-spacing: -1px;
      }
    }
  }

  &__link {
    padding: 13px 0;
  }

  &__btn {
    height: 40px;
    width: auto;
    word-break: keep-all;
    white-space: pre;
    display: flex;
    border-left: 1px solid var(--gray-primary);
    padding: 13px 26px;

    &:last-of-type {
      border-right: 1px solid var(--gray-primary);
    }
  }
}
